*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Shantell Sans", serif;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--color-background-dark);
  // padding-top: 30px;
  overflow-x: hidden;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  text-align: center;
  align-items: center;
}
h4 {
  font-size: 15px;
}
a {
  display: inline-block;
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

svg {
  width: 100%;
  height: 100%;
}
