@import "./utils/fonts";
@import "./utils/variables";
@import "./base";

@import "./components/buttons";
@import "./components/input";
@import "./components/links";

@import "./layouts/about-section";
@import "./layouts/container";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/message-section";
@import "./layouts/projects-section";
@import "./layouts/section";
@import "./layouts/skills-section";
