@font-face {
  font-display: swap;
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/shantell-sans-v13-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shantell-sans-v13-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/shantell-sans-v13-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Shantell Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/shantell-sans-v13-latin-800.woff2") format("woff2");
}
