:root {
  --color-background: #ffffff;
  --color-background-dark: #eeeff1;
  --color-brand-light: #75bfb8;
  --color-brand-dark: #255459;
  --color-brown: #593a2e;
  --color-brown-light: #a66f5b;
  --color-text: #1a1c20;
}
