//
:root {
  --color-background-dark: #ffffff;
  --color-background: #eeeff1;
  --color-brand-light: #0e6ba8;
  --color-brand: #001c55;
  --color-brand-dark: #0a2472;
  --color-text: #1a1c20;
  --color-gray: #909090;
  --color-card: #f9f9f9;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
