*,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Shantell Sans", serif;
  font-size: 12px;
  font-weight: 400;
  background-color: var(--color-background);
  padding-top: 50px;
}

address {
  font-style: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
