.project-box {
  background-color: var(--color-background);
  padding: 17px;
  border-radius: 10px;
  display: block;
  transform: scale(0.9);
  width: 272px;
  height: 375.75px;

  &__img {
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-gray);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
