.about-section {
  background-color: var(--color-background-dark);
  &__title {
    position: relative;
    text-align: center;
    font-weight: 800;
    line-height: 1;
    font-size: 30px;
    line-height: 1;
    margin: 50px auto;
    max-width: 100%;
    // white-space: nowrap;

    @media screen and (min-width: $bp-tablet) {
      font-size: 50px;
    }

    &::before {
      position: absolute;
      width: 200px;
      height: 5px;
      bottom: -15px;
      background-color: var(--color-brand-dark);
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
      content: "";

      @media screen and (min-width: $bp-tablet) {
        width: 350px;
      }
    }
  }
  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 50px;
    border-radius: 50%;
    overflow: hidden;
    height: 200px;
    width: 200px;

    @media screen and (min-width: $bp-tablet) {
      height: 350px;
      width: 350px;
    }
  }
  &__img {
    justify-content: center;
    align-items: center;
    background-image: url(/img/main-photo.webp);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text {
    display: flex;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 40px;
    font-weight: 600;
    font-size: 18px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
      margin: 0 auto 70px;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    @media screen and (min-width: $bp-tablet) {
      gap: 65px;
    }
  }

  &__link {
    fill: var(--color-brand-dark);
    transition: fill 0.3s;
    flex-shrink: 0;
    width: clamp(60px, 8vw, 90px);
    height: clamp(60px, 8vw, 90px);

    &:hover {
      fill: var(--color-brand-light);
    }
  }
}
