.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(3, 34, 106, 0.9);
  backdrop-filter: blur(5px);

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    gap: 20px;
  }

  &__left {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 900;

    @media screen and (min-width: $bp-tablet) {
      font-size: 30px;
    }
  }

  &__right {
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 17px;
    }
  }
}
