.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(10, 36, 114, 0.9);
  backdrop-filter: blur(10px);

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    gap: 15px;

    @media screen and (min-width: $bp-desktop) {
      gap: 20px;
    }
  }

  &__left {
    color: var(--color-text);
    font-size: 15px;
    font-weight: 900;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 35px;
    }
  }

  &__right {
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    display: flex;
    gap: 10px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 17px;
      gap: 15px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 17px;
      gap: 20px;
    }
  }
}
