.message-section {
  &__title {
    position: relative;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
    line-height: 1;

    &::before {
      position: absolute;
      width: 200px;
      height: 5px;
      bottom: -15px;
      background-color: var(--color-brand-dark);
      border-radius: 2px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
    }
  }

  &__paragraf {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 0;
  }
}
