.projects-section {
  width: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;

  &__scroll-container {
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto;
    margin: 0 auto;
  }

  &__title-small {
    &::after {
      bottom: 0;
      left: 0;
      margin-left: 20px;
      position: absolute;
      border: 2px solid var(--color-brand);
      width: 100px;
      content: "";
    }
  }

  &__slider {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__card {
    padding: 10px;
    height: 370px;
    max-width: 270px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__img {
    border-radius: 4px;
    border: 2px solid var(--color-text);
  }
}
