.projects-section {
  &__list {
    display: flex;
    align-content: center;
    justify-content: center;
    overflow-x: auto;
  }
  &__card {
    padding: 10px;
    border: 2px solid var(--color-text);
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
    width: 272px !important;
  }
}

// .projects-slider .swiper-slide {
//   width: 280px;
// }
