.section {
  padding: 56px 32px;

  @media screen and (min-width: $bp-tablet) {
    padding: 112px 32px;
  }
  &__title {
    font-size: 25px;
    font-weight: 800;
    line-height: 1;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 40px;
    }

    &--smaller {
      position: relative;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      margin: 0;
      text-decoration: underline;
    }
  }
}
