.about-section {
  // &__title {
  //   text-align: center;
  // }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url(/img/main-photo.webp);
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
}
