.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-brand-dark);
  background: rgba(37, 84, 89, 0.9);
  backdrop-filter: blur(3px);

  &__nav {
    display: flex;
    justify-content: right;
    padding: 32px 0;
  }

  // &__right {
  //   color: var(--color-background-light);
  //   font-size: 25px;
  //   font-weight: 900;
  // }

  &__left {
    font-size: 15px;
    font-weight: 900;
    display: flex;
    gap: 20px;
  }
}
